  /* creating the pentagon shape */
  .pentagon-code {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: -50px;
    width: 100px;
    border-top: 100px solid #FF6565;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent; 
    margin-top: 40px;
  }
 
  .pentagon-code:after{
    position: absolute;
    content: '';
    border-bottom: 100px solid #FF6565;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    bottom: 100px;
    left: -50px;
  }